@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Sign in</h1>
    <form method="post" action="/Account/Login">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="email" required />
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
